---
layout: default
title: mocknet - spaces
tags: 
- spaces
---

<div class="row">
  <div id="home" class="col-md-9">
    <ul id="item-list" class="media-list">
      {% for space in site.data.spaces %}
        <li class="media space">
          <div class="col-md-2 space-icon">
            <img src="{{ space.icon }}" height="50" />
            {% if space.subscribed == false %}
            <button class="btn btn-xs btn-success">Subscribe</button>
            {% elsif space.subscribed == true %}
            <button class="btn btn-xs btn-danger">Unsubscribe</button>
            {% endif %}
          </div>
          <div class="col-md-12 space-description">
            <h4><a href="/space/{{ space.url_slug }}">{{ space.title }}</a></h4>
            <p>{{ space.description }}</p>
            <p class="meta">{{ space.subscribers }} subscribers. Active {{ space.last_active }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>

  {% include sidebar.html %}
</div>