<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title || "lightnet with bootstrap" }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->

    <!--
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
  -->
    <link id="bootstrap-theme" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>
    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">lightnet</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="btn-group spaces-dropdown">
              <a href="/spaces/index.html" class="btn">spaces 
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </a>
              <ul class="dropdown-menu" role="menu">
                {% for space in site.data.subscribed-spaces %}
                  <li><a href="/space/{{ space.name }}">{{ space.name }}</a></li>
                {% endfor %}
              </ul>
            </li>
            <li class="btn-group sort-dropdown">
              <a href="" class="btn dropdown-toggle" data-toggle="dropdown">last active 
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">top</a></li>
                <li><a href="#">hot</a></li>
                <li><a href="#">new</a></li>
                <li><a href="#">votes</a></li>
              </ul>
            </li>

            {% for tag in page.tags %}
              {% if tag == "spaces" %}
                <li class="btn-group spaces-gui">
                  <a href="/spaces/index.html" class="btn btn-sm" data-toggle="tooltip" data-placement="bottom" data-original-title="list"><i class="fa fa-th-list"></i></a>
                  <a href="/spaces/v-grid.html" class="btn btn-sm" data-toggle="tooltip" data-placement="bottom" data-original-title="v-grid"><i class="fa fa-pause"></i></a>
                  <a href="/spaces/h-grid.html" class="btn btn-sm" data-toggle="tooltip" data-placement="bottom" data-original-title="h-grid"><i class="fa fa-th-large"></i></a>
                  <a href="/spaces/medium.html" class="btn btn-sm" data-toggle="tooltip" data-placement="bottom" data-original-title="medium"><i class="fa fa-square"></i></a>
                </li>
                {% if page.url == "/spaces/index.html" %} {{ <li>list</li> }} {% endif %}
              {% endif %} 
            {% endfor %}
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><i class="fa fa-envelope-o"></i> Inbox <span class="badge btn-danger">5</span></a></li>
            <li><a href="#">Notification <span class="badge btn-danger">42</span></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="img-rounded" src="/img/accounts/Casey_Driscoll_1.gif" height="40" width="40" /> Casey Driscoll<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">saved</a></li>
                <li><a href="#">options</a></li>
                <li><a href="#">apps</a></li>
                <li><a href="#">RSS feeds</a></li>
                <li><a href="#">follow</a></li>
                <li><a href="#">password/email</a></li>
                <li><a href="#">two-factor authentication</a></li>
                <li class="divider"></li>
                <li role="presentation" class="dropdown-header">theme</li>
                <li class="theme"><a href="#">amelia</a></li>
                <li class="theme"><a href="#">cerulean</a></li>
                <li class="theme"><a href="#">cosmo</a></li>
                <li class="theme"><a href="#">cyborg</a></li>
                <li class="theme"><a href="#">flatly</a></li>
                <li class="theme"><a href="#">journal</a></li>
                <li class="theme"><a href="#">readable</a></li>
                <li class="theme"><a href="#">simplex</a></li>
                <li class="theme"><a href="#">slate</a></li>
                <li class="theme"><a href="#">spacelab</a></li>
                <li class="theme"><a href="#">united</a></li>
                <li class="divider"></li>
                <li><a href="/space_grid/">space grid</a></li>
                <li><a href="/allinone.html">all in one</a></li>
                <li class="divider"></li>
                <li><a href="#">logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

<div class="modal" id="instructions1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Lightnet Mocks</h4>
      </div>
      <div class="modal-body">
        <p>You can change the theme of the page by looking in the upper right menu (with Myers' face on it).</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->