<div id="sidebar" class=" col-md-3">
    <form method="get" action="/search">
      <div class="input-group input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
        <input type="text" class="form-control" placeholder="search lightnet">
      </div>
    </form>
    <br/>
    <br/>

    <button type="button" class="btn btn-block btn-primary">Manange subscriptions</button>
    <br/>
    <button type="button" class="btn btn-block btn-primary">Add new link</button>
    <button type="button" class="btn btn-block btn-primary">Add new text post</button>
    <button type="button" class="btn btn-block btn-primary">Add new file</button>
    <br/>

    <button type="button" class="btn btn-block btn-primary">Create your own space</button>

</div>