<div id="sidebar" class=" col-md-3">
    <form method="get" action="/search">
      <div class="input-group input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
        <input type="text" class="form-control" placeholder="search lightnet">
      </div>
    </form>
    <br/>

    <button type="button" class="btn btn-block btn-success"><i class="fa fa-plus"></i>  Create your own space</button>

    <h3>Add a new:</h3>

    <div class="btn-group btn-group-justified">
        <a type="button" class="btn btn-success"><i class="fa fa-link"></i> link</a>
        <a type="button" class="btn btn-success"><i class="fa fa-file-text-o"></i> post</a>
        <a type="button" class="btn btn-success"><i class="fa fa-paperclip"></i> file</a>
    </div>

    {% if page.type == "space_page" %}
        <h3>{{ page.category }}</h3>
        {% for space in site.data.spaces %}
            {% if space.url_slug == page.category %}

            {% if space.subscribed == false %}
            <button type="button" class="btn btn-success btn-sm">Subscribe</button>
            {% elsif space.subscribed == true %}
            <button type="button" class="btn btn-danger btn-sm">Unsubscribe</button>
            {% endif %}

        <br/><br/>

        <h4><i class="glyphicon glyphicon-exclamation-sign"></i> House Rules</h4>
        <div class="well well-sm">
          <p>House Rules from {{ space.house }}:</p>
          <ul>
            {% for house in site.data.houses %}{% if house.title == space.house %}
                {% for rule in house.rules %}
                    <li>{{ rule }}</li>
                {% endfor %}
            {% endif %}{% endfor %}
          </ul>
          <p></p>
        </div>

        <h4><i class="glyphicon glyphicon-globe"></i> Space Overview</h4>
        <div class="well well-sm">
            <p>{{ space.description }}<p>
        </div>

        <h4><i class="glyphicon glyphicon-exclamation-sign"></i> Space Rules</h4>
        <div class="well well-sm">
          <ul>
            {% for rule in space.rules %}
                <li>{{ rule }}</li>
            {% endfor %}
          </ul>
        </div>

        <h4>Moderators</h4>
        <ul class="list-unstyled well">
            {% for moderator in space.moderators %}
                <li>{{ moderator}}</li>
            {% endfor %}
        </ul>
            {% endif %}
        {% endfor %}
      </div>
    {% endif %}

</div>