{% include header.html %}

    <div class="container">
      {{ content }}
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>     
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
    <script src="/js/jquery.timeago.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <script>
      function changeTheme(name) {
        $('#bootstrap-theme').attr('href', "//netdna.bootstrapcdn.com/bootswatch/3.0.0/" + name + "/bootstrap.min.css");
        $.cookie('theme', name);
        $('body').removeClass('theme-' + $('body').data('theme'));
        $('body').data('theme', name);
        $('body').addClass('theme-' + name);
        $('.theme').removeClass('disabled');
        $('.theme a:contains("' + name + '")').parent().addClass('disabled');
      }
      $(function () {
        $("time").timeago();

        $(".theme").find('a').click(function(event) {
          event.preventDefault();
          changeTheme($(this).text());
        })
        var theme = $.cookie('theme') || 'cerulean'
        changeTheme(theme);
        if ($.cookie('instructions1') != 'hide') {
          setTimeout(function() {
            $('#instructions1').modal({});
          }, 500);
        }
        $('#instructions1').on('hidden.bs.modal', function () {
          $.cookie('instructions1', 'hide');
        });

      });
    </script>
  </body>
</html>
